:root {
    ion-input {
        --background: #9ed321;
    }
}

ion-content {
    --background: #9ed321;
}

ion-list {
    --background: #9ed321;
}

/* ion-input.custom {
    --background: #9ed321;
    --color: black;
}

ion-input.custom.ios .input-bottom .helper-text,
ion-input.custom.ios .input-bottom .counter,
ion-input.custom.md .input-bottom .helper-text,
ion-input.custom.md .input-bottom .counter {
  color: black;
} */